extends layout

block content
  h1= title
  ul
    li
      a(href='http://localhost:3001/api/users') Get all users
    li
      a(href='http://localhost:3001/api/ratings') Get all ratings
    li
      a(href='http://localhost:3001/api/resources') Get all resources


  img(src='http://www.trendingtoplists.com/wp-content/uploads/2015/07/Screen-Shot-2015-07-23-at-2.01.00-PM.png')